#footer {
/*    position:fixed; */
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background:black;
   color: white;
}
#footer p {
   text-align: center;
}
 
/* /* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight);
} */