@font-face{font-family:"Roboto Thin";src:url("https://d3sz5r0rl9fxuc.cloudfront.net/assets/Roboto-Thin-2843669daf030733f6b7c541a98ebbff5ce5c2d8cbae423bd8d278a36e169399.ttf") format("truetype");font-weight:normal;font-style:normal}
@font-face{font-family:"Roboto Light";src:url("https://d3sz5r0rl9fxuc.cloudfront.net/assets/Roboto-Light-94df4e4976db8ddaec27f8e8c33eef912e744fb200ca09051794b38e5a502fc0.ttf") format("truetype");font-weight:normal;font-style:normal}
@font-face{font-family:"Roboto Bold";src:url("https://d3sz5r0rl9fxuc.cloudfront.net/assets/Roboto-Bold-24571503140760240924dcd1238f77e7cd0454c0d8b0793990cefa2fad71471f.ttf") format("truetype");font-weight:normal;font-style:normal}
@font-face{font-family:"Roboto Black";src:url("https://d3sz5r0rl9fxuc.cloudfront.net/assets/Roboto-Black-6889426c7dcff2e9b521b4969e82afacd91790c4d3cd719d3f683013709053d3.ttf") format("truetype");font-weight:normal;font-style:normal}
.grid-container{display:inline-block}
.grid-1{width:150px;float:left;margin:10px}
.hei-1{height:220px;float:left;margin:10px}
.mini.hei-1{height:150px;float:left;margin:10px}
.nest.grid-1{width:240px;margin:0;float:left}
.nest.hei-1{height:335px;margin:0;float:left}
.mini.nest.hei-1{height:170px;margin:0;float:left}
.grid-2{width:460px;float:left;margin:10px}
.hei-2{height:650px;float:left;margin:10px}
.mini.hei-2{height:320px;float:left;margin:10px}
.nest.grid-2{width:480px;margin:0;float:left}
.nest.hei-2{height:670px;margin:0;float:left}
.mini.nest.hei-2{height:340px;margin:0;float:left}
.grid-3{width:700px;float:left;margin:10px}
.hei-3{height:985px;float:left;margin:10px}
.mini.hei-3{height:490px;float:left;margin:10px}
.nest.grid-3{width:720px;margin:0;float:left}
.nest.hei-3{height:1005px;margin:0;float:left}
.mini.nest.hei-3{height:510px;margin:0;float:left}
.grid-4{width:940px;float:left;margin:10px}
.hei-4{height:1320px;float:left;margin:10px}
.mini.hei-4{height:660px;float:left;margin:10px}
.nest.grid-4{width:960px;margin:0;float:left}
.nest.hei-4{height:1340px;margin:0;float:left}
.mini.nest.hei-4{height:680px;margin:0;float:left}
.grid-5{width:1180px;float:left;margin:10px}
.hei-5{height:1655px;float:left;margin:10px}
.mini.hei-5{height:830px;float:left;margin:10px}
.nest.grid-5{width:1200px;margin:0;float:left}
.nest.hei-5{height:1675px;margin:0;float:left}
.mini.nest.hei-5{height:850px;margin:0;float:left}
.grid-6{width:1420px;float:left;margin:10px}
.hei-6{height:1990px;float:left;margin:10px}
.mini.hei-6{height:1000px;float:left;margin:10px}
.nest.grid-6{width:1440px;margin:0;float:left}
.nest.hei-6{height:2010px;margin:0;float:left}
.mini.nest.hei-6{height:1020px;margin:0;float:left}
.grid-7{width:1660px;float:left;margin:10px}
.hei-7{height:2325px;float:left;margin:10px}
.mini.hei-7{height:1170px;float:left;margin:10px}
.nest.grid-7{width:1680px;margin:0;float:left}
.nest.hei-7{height:2345px;margin:0;float:left}
.mini.nest.hei-7{height:1190px;margin:0;float:left}
.grid-8{width:1900px;float:left;margin:10px}
.hei-8{height:2660px;float:left;margin:10px}
.mini.hei-8{height:1340px;float:left;margin:10px}
.nest.grid-8{width:1920px;margin:0;float:left}
.nest.hei-8{height:2680px;margin:0;float:left}
.mini.nest.hei-8{height:1360px;margin:0;float:left}
.grid-9{width:2140px;float:left;margin:10px}
.hei-9{height:2995px;float:left;margin:10px}
.mini.hei-9{height:1510px;float:left;margin:10px}
.nest.grid-9{width:2160px;margin:0;float:left}
.nest.hei-9{height:3015px;margin:0;float:left}
.mini.nest.hei-9{height:1530px;margin:0;float:left}
.grid-10{width:2380px;float:left;margin:10px}
.hei-10{height:3330px;float:left;margin:10px}
.mini.hei-10{height:1680px;float:left;margin:10px}
.nest.grid-10{width:2400px;margin:0;float:left}
.nest.hei-10{height:3350px;margin:0;float:left}
.mini.nest.hei-10{height:1700px;margin:0;float:left}
.top-0{top:0px;position:absolute !important}
.mini.top-0{top:0px;position:absolute !important}
.left-0{left:0px;position:absolute !important}
.top-1{top:250px;position:absolute !important}
.mini.top-1{top:170px;position:absolute !important}
.left-1{left:200px;position:absolute !important}
.top-2{top:500px;position:absolute !important}
.mini.top-2{top:340px;position:absolute !important}
.left-2{left:400px;position:absolute !important}
.top-3{top:750px;position:absolute !important}
.mini.top-3{top:510px;position:absolute !important}
.left-3{left:600px;position:absolute !important}
.top-4{top:1340px;position:absolute !important}
.mini.top-4{top:680px;position:absolute !important}
.left-4{left:800px;position:absolute !important}
.top-5{top:1675px;position:absolute !important}
.mini.top-5{top:850px;position:absolute !important}
.left-5{left:1200px;position:absolute !important}
.top-6{top:2010px;position:absolute !important}
.mini.top-6{top:1020px;position:absolute !important}
.left-6{left:1440px;position:absolute !important}
.top-7{top:2345px;position:absolute !important}
.mini.top-7{top:1190px;position:absolute !important}
.left-7{left:1680px;position:absolute !important}
.top-8{top:2680px;position:absolute !important}
.mini.top-8{top:1360px;position:absolute !important}
.left-8{left:1920px;position:absolute !important}
.top-9{top:3015px;position:absolute !important}
.mini.top-9{top:1530px;position:absolute !important}
.left-9{left:2160px;position:absolute !important}
.top-10{top:3350px;position:absolute !important}
.mini.top-10{top:1700px;position:absolute !important}
.left-10{left:2400px;position:absolute !important}
.top-11{top:3685px;position:absolute !important}
.mini.top-11{top:1870px;position:absolute !important}
.left-11{left:2640px;position:absolute !important}
.top-12{top:4020px;position:absolute !important}
.mini.top-12{top:2040px;position:absolute !important}
.left-12{left:2880px;position:absolute !important}
.top-13{top:4355px;position:absolute !important}
.mini.top-13{top:2210px;position:absolute !important}
.left-13{left:3120px;position:absolute !important}
.top-14{top:4690px;position:absolute !important}
.mini.top-14{top:2380px;position:absolute !important}
.left-14{left:3360px;position:absolute !important}
.top-15{top:5025px;position:absolute !important}
.mini.top-15{top:2550px;position:absolute !important}
.left-15{left:3600px;position:absolute !important}
.top-16{top:5360px;position:absolute !important}
.mini.top-16{top:2720px;position:absolute !important}
.left-16{left:3840px;position:absolute !important}
.top-17{top:5695px;position:absolute !important}
.mini.top-17{top:2890px;position:absolute !important}
.left-17{left:4080px;position:absolute !important}
.top-18{top:6030px;position:absolute !important}
.mini.top-18{top:3060px;position:absolute !important}
.left-18{left:4320px;position:absolute !important}
.top-19{top:6365px;position:absolute !important}
.mini.top-19{top:3230px;position:absolute !important}
.left-19{left:4560px;position:absolute !important}
.top-20{top:6700px;position:absolute !important}
.mini.top-20{top:3400px;position:absolute !important}
.left-20{left:4800px;position:absolute !important}
.top-21{top:7035px;position:absolute !important}
.mini.top-21{top:3570px;position:absolute !important}
.left-21{left:5040px;position:absolute !important}
.top-22{top:7370px;position:absolute !important}
.mini.top-22{top:3740px;position:absolute !important}
.left-22{left:5280px;position:absolute !important}
.top-23{top:7705px;position:absolute !important}
.mini.top-23{top:3910px;position:absolute !important}
.left-23{left:5520px;position:absolute !important}
.top-24{top:8040px;position:absolute !important}
.mini.top-24{top:4080px;position:absolute !important}
.left-24{left:5760px;position:absolute !important}
.top-25{top:8375px;position:absolute !important}
.mini.top-25{top:4250px;position:absolute !important}
.left-25{left:6000px;position:absolute !important}
.top-26{top:8710px;position:absolute !important}
.mini.top-26{top:4420px;position:absolute !important}
.left-26{left:6240px;position:absolute !important}
.top-27{top:9045px;position:absolute !important}
.mini.top-27{top:4590px;position:absolute !important}
.left-27{left:6480px;position:absolute !important}
.top-28{top:9380px;position:absolute !important}
.mini.top-28{top:4760px;position:absolute !important}
.left-28{left:6720px;position:absolute !important}
.top-29{top:9715px;position:absolute !important}
.mini.top-29{top:4930px;position:absolute !important}
.left-29{left:6960px;position:absolute !important}
.top-30{top:10050px;position:absolute !important}
.mini.top-30{top:5100px;position:absolute !important}
.left-30{left:7200px;position:absolute !important}
.top-31{top:10385px;position:absolute !important}
.mini.top-31{top:5270px;position:absolute !important}
.left-31{left:7440px;position:absolute !important}
.top-32{top:10720px;position:absolute !important}
.mini.top-32{top:5440px;position:absolute !important}
.left-32{left:7680px;position:absolute !important}
.top-33{top:11055px;position:absolute !important}
.mini.top-33{top:5610px;position:absolute !important}
.left-33{left:7920px;position:absolute !important}
.top-34{top:11390px;position:absolute !important}
.mini.top-34{top:5780px;position:absolute !important}
.left-34{left:8160px;position:absolute !important}
.top-35{top:11725px;position:absolute !important}
.mini.top-35{top:5950px;position:absolute !important}
.left-35{left:8400px;position:absolute !important}
.top-36{top:12060px;position:absolute !important}
.mini.top-36{top:6120px;position:absolute !important}
.left-36{left:8640px;position:absolute !important}
.top-37{top:12395px;position:absolute !important}
.mini.top-37{top:6290px;position:absolute !important}
.left-37{left:8880px;position:absolute !important}
.top-38{top:12730px;position:absolute !important}
.mini.top-38{top:6460px;position:absolute !important}
.left-38{left:9120px;position:absolute !important}
.top-39{top:13065px;position:absolute !important}
.mini.top-39{top:6630px;position:absolute !important}
.left-39{left:9360px;position:absolute !important}
.top-40{top:13400px;position:absolute !important}
.mini.top-40{top:6800px;position:absolute !important}
.left-40{left:9600px;position:absolute !important}
.top-41{top:13735px;position:absolute !important}
.mini.top-41{top:6970px;position:absolute !important}
.left-41{left:9840px;position:absolute !important}
.top-42{top:14070px;position:absolute !important}
.mini.top-42{top:7140px;position:absolute !important}
.left-42{left:10080px;position:absolute !important}
.top-43{top:14405px;position:absolute !important}
.mini.top-43{top:7310px;position:absolute !important}
.left-43{left:10320px;position:absolute !important}
.top-44{top:14740px;position:absolute !important}
.mini.top-44{top:7480px;position:absolute !important}
.left-44{left:10560px;position:absolute !important}
.top-45{top:15075px;position:absolute !important}
.mini.top-45{top:7650px;position:absolute !important}
.left-45{left:10800px;position:absolute !important}
.top-46{top:15410px;position:absolute !important}
.mini.top-46{top:7820px;position:absolute !important}
.left-46{left:11040px;position:absolute !important}
.top-47{top:15745px;position:absolute !important}
.mini.top-47{top:7990px;position:absolute !important}
.left-47{left:11280px;position:absolute !important}
.top-48{top:16080px;position:absolute !important}
.mini.top-48{top:8160px;position:absolute !important}
.left-48{left:11520px;position:absolute !important}
.top-49{top:16415px;position:absolute !important}
.mini.top-49{top:8330px;position:absolute !important}
.left-49{left:11760px;position:absolute !important}
.top-50{top:16750px;position:absolute !important}
.mini.top-50{top:8500px;position:absolute !important}
.left-50{left:12000px;position:absolute !important}
.top-51{top:17085px;position:absolute !important}
.mini.top-51{top:8670px;position:absolute !important}
.left-51{left:12240px;position:absolute !important}
.top-52{top:17420px;position:absolute !important}
.mini.top-52{top:8840px;position:absolute !important}
.left-52{left:12480px;position:absolute !important}
.top-53{top:17755px;position:absolute !important}
.mini.top-53{top:9010px;position:absolute !important}
.left-53{left:12720px;position:absolute !important}
.top-54{top:18090px;position:absolute !important}
.mini.top-54{top:9180px;position:absolute !important}
.left-54{left:12960px;position:absolute !important}
.top-55{top:18425px;position:absolute !important}
.mini.top-55{top:9350px;position:absolute !important}
.left-55{left:13200px;position:absolute !important}
.top-56{top:18760px;position:absolute !important}
.mini.top-56{top:9520px;position:absolute !important}
.left-56{left:13440px;position:absolute !important}
.top-57{top:19095px;position:absolute !important}
.mini.top-57{top:9690px;position:absolute !important}
.left-57{left:13680px;position:absolute !important}
.top-58{top:19430px;position:absolute !important}
.mini.top-58{top:9860px;position:absolute !important}
.left-58{left:13920px;position:absolute !important}
.top-59{top:19765px;position:absolute !important}
.mini.top-59{top:10030px;position:absolute !important}
.left-59{left:14160px;position:absolute !important}
.top-60{top:20100px;position:absolute !important}
.mini.top-60{top:10200px;position:absolute !important}
.left-60{left:14400px;position:absolute !important}
.top-61{top:20435px;position:absolute !important}
.mini.top-61{top:10370px;position:absolute !important}
.left-61{left:14640px;position:absolute !important}
.top-62{top:20770px;position:absolute !important}
.mini.top-62{top:10540px;position:absolute !important}
.left-62{left:14880px;position:absolute !important}
.top-63{top:21105px;position:absolute !important}
.mini.top-63{top:10710px;position:absolute !important}
.left-63{left:15120px;position:absolute !important}
.top-64{top:21440px;position:absolute !important}
.mini.top-64{top:10880px;position:absolute !important}
.left-64{left:15360px;position:absolute !important}
.top-65{top:21775px;position:absolute !important}
.mini.top-65{top:11050px;position:absolute !important}
.left-65{left:15600px;position:absolute !important}
.top-66{top:22110px;position:absolute !important}
.mini.top-66{top:11220px;position:absolute !important}
.left-66{left:15840px;position:absolute !important}
.top-67{top:22445px;position:absolute !important}
.mini.top-67{top:11390px;position:absolute !important}
.left-67{left:16080px;position:absolute !important}
.top-68{top:22780px;position:absolute !important}
.mini.top-68{top:11560px;position:absolute !important}
.left-68{left:16320px;position:absolute !important}
.top-69{top:23115px;position:absolute !important}
.mini.top-69{top:11730px;position:absolute !important}
.left-69{left:16560px;position:absolute !important}
.top-70{top:23450px;position:absolute !important}
.mini.top-70{top:11900px;position:absolute !important}
.left-70{left:16800px;position:absolute !important}
.top-71{top:23785px;position:absolute !important}
.mini.top-71{top:12070px;position:absolute !important}
.left-71{left:17040px;position:absolute !important}
.top-72{top:24120px;position:absolute !important}
.mini.top-72{top:12240px;position:absolute !important}
.left-72{left:17280px;position:absolute !important}
.top-73{top:24455px;position:absolute !important}
.mini.top-73{top:12410px;position:absolute !important}
.left-73{left:17520px;position:absolute !important}
.top-74{top:24790px;position:absolute !important}
.mini.top-74{top:12580px;position:absolute !important}
.left-74{left:17760px;position:absolute !important}
.top-75{top:25125px;position:absolute !important}
.mini.top-75{top:12750px;position:absolute !important}
.left-75{left:18000px;position:absolute !important}
.top-76{top:25460px;position:absolute !important}
.mini.top-76{top:12920px;position:absolute !important}
.left-76{left:18240px;position:absolute !important}
.top-77{top:25795px;position:absolute !important}
.mini.top-77{top:13090px;position:absolute !important}
.left-77{left:18480px;position:absolute !important}
.top-78{top:26130px;position:absolute !important}
.mini.top-78{top:13260px;position:absolute !important}
.left-78{left:18720px;position:absolute !important}
.top-79{top:26465px;position:absolute !important}
.mini.top-79{top:13430px;position:absolute !important}
.left-79{left:18960px;position:absolute !important}
.top-80{top:26800px;position:absolute !important}
.mini.top-80{top:13600px;position:absolute !important}
.left-80{left:19200px;position:absolute !important}
.top-81{top:27135px;position:absolute !important}
.mini.top-81{top:13770px;position:absolute !important}
.left-81{left:19440px;position:absolute !important}
.top-82{top:27470px;position:absolute !important}
.mini.top-82{top:13940px;position:absolute !important}
.left-82{left:19680px;position:absolute !important}
.top-83{top:27805px;position:absolute !important}
.mini.top-83{top:14110px;position:absolute !important}
.left-83{left:19920px;position:absolute !important}
.top-84{top:28140px;position:absolute !important}
.mini.top-84{top:14280px;position:absolute !important}
.left-84{left:20160px;position:absolute !important}
.top-85{top:28475px;position:absolute !important}
.mini.top-85{top:14450px;position:absolute !important}
.left-85{left:20400px;position:absolute !important}
.top-86{top:28810px;position:absolute !important}
.mini.top-86{top:14620px;position:absolute !important}
.left-86{left:20640px;position:absolute !important}
.top-87{top:29145px;position:absolute !important}
.mini.top-87{top:14790px;position:absolute !important}
.left-87{left:20880px;position:absolute !important}
.top-88{top:29480px;position:absolute !important}
.mini.top-88{top:14960px;position:absolute !important}
.left-88{left:21120px;position:absolute !important}
.top-89{top:29815px;position:absolute !important}
.mini.top-89{top:15130px;position:absolute !important}
.left-89{left:21360px;position:absolute !important}
.top-90{top:30150px;position:absolute !important}
.mini.top-90{top:15300px;position:absolute !important}
.left-90{left:21600px;position:absolute !important}
.top-91{top:30485px;position:absolute !important}
.mini.top-91{top:15470px;position:absolute !important}
.left-91{left:21840px;position:absolute !important}
.top-92{top:30820px;position:absolute !important}
.mini.top-92{top:15640px;position:absolute !important}
.left-92{left:22080px;position:absolute !important}
.top-93{top:31155px;position:absolute !important}
.mini.top-93{top:15810px;position:absolute !important}
.left-93{left:22320px;position:absolute !important}
.top-94{top:31490px;position:absolute !important}
.mini.top-94{top:15980px;position:absolute !important}
.left-94{left:22560px;position:absolute !important}
.top-95{top:31825px;position:absolute !important}
.mini.top-95{top:16150px;position:absolute !important}
.left-95{left:22800px;position:absolute !important}
.top-96{top:32160px;position:absolute !important}
.mini.top-96{top:16320px;position:absolute !important}
.left-96{left:23040px;position:absolute !important}
.top-97{top:32495px;position:absolute !important}
.mini.top-97{top:16490px;position:absolute !important}
.left-97{left:23280px;position:absolute !important}
.top-98{top:32830px;position:absolute !important}
.mini.top-98{top:16660px;position:absolute !important}
.left-98{left:23520px;position:absolute !important}
.top-99{top:33165px;position:absolute !important}
.mini.top-99{top:16830px;position:absolute !important}
.left-99{left:23760px;position:absolute !important}
.top-100{top:33500px;position:absolute !important}
.mini.top-100{top:17000px;position:absolute !important}
.left-100{left:24000px;position:absolute !important}
.movie-card .detail-opener{cursor:pointer}
.movie-card.size-3x1 .stillcut,.movie-card.size-3x1 .movie-info-wrapper{float:left}
.movie-card.size-3x1 .top-gradation{width:460px}
.movie-card.size-3x1 .stillcut{width:460px;height:100%;-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-topright:0;-webkit-border-top-right-radius:0;border-top-right-radius:0;-moz-border-radius-bottomright:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}
.movie-card.size-3x1 .gradation{height:100%;width:460px}
.movie-card.size-3x1 .movie-info-wrapper{padding:20px;width:200px}
.movie-card.size-3x1 .movie-info-wrapper .movie-title{font-size:23px}
.movie-card.size-3x1 .movie-info-wrapper .movie-title .filmrate{font-size:13px}
.movie-card.size-3x1 .action-wrapper{bottom:0;width:460px;-moz-border-radius-bottomright:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}
.movie-card.size-3x1 .action-wrapper .movie-title{display:none}
.movie-card.size-3x1 .action-wrapper .rating{padding:10px 20px;text-align:left}
.movie-card.size-3x1 .action-wrapper .wish-comment{padding:0;position:absolute;right:0;top:18px;width:200px}
.movie-card.size-3x1 .action-wrapper .meh{top:-250px}
.movie-card.size-3x1 .vods{-moz-border-radius-bottomleft:0;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0;left:auto;right:0;width:240px}
.movie-card.poster-type{position:relative;overflow:hidden;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.movie-card.poster-type .poster-wrapper{position:relative}
.movie-card.poster-type .poster-wrapper .poster{display:block}
.movie-card.poster-type .poster-wrapper .top-gradation{position:absolute;left:0;top:0;width:100%;height:180px;background:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/gradations/gradation_top-923800d57fd10b9471ebd9bca97a31bca6b02c8045a281e3c32e0bab40c10d15.png) 0 0 repeat-x}
.movie-card.poster-type .poster-wrapper .predicted-rating{position:absolute;left:0;top:0;padding:7px 15px;color:white;z-index:1}
.movie-card.poster-type .poster-wrapper .predicted-rating .rating{display:block;margin-top:8px;position:relative;padding-left:33px;height:25px}
.movie-card.poster-type .poster-wrapper .predicted-rating .rating .thumb{-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;position:absolute;top:0;left:0}
.movie-card.poster-type .poster-wrapper .predicted-rating .rating .number{font-size:24px;line-height:30px;text-shadow:1px 1px #000000}
.movie-card.poster-type .poster-wrapper .gradation{width:100%;height:100%;position:absolute;left:0;top:0;-moz-transition-property:background-rgba;-o-transition-property:background-rgba;-webkit-transition-property:background-rgba;transition-property:background-rgba;-moz-transition-duration:0.1s;-o-transition-duration:0.1s;-webkit-transition-duration:0.1s;transition-duration:0.1s}
.movie-card.poster-type .poster-wrapper .bottom{position:absolute;bottom:0;left:0;padding:20px;color:#FFFFFF}
.movie-card.poster-type .poster-wrapper .bottom .movie-title{font-size:24px;margin-top:20px}
.movie-card.poster-type .poster-wrapper .bottom .basic-info{margin-top:20px;font-size:14px;line-height:18px}
.movie-card.poster-type .poster-wrapper .bottom .basic-info .reservation-info{margin-bottom:5px}
.movie-card.poster-type .poster-wrapper .bottom .basic-info .bar{margin:0 3px;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:0.8}
.movie-card.poster-type .poster-wrapper .bottom .watcha-rating-wrapper{margin-top:10px;font-size:14px}
.movie-card.poster-type .poster-wrapper .bottom .watcha-rating-wrapper .watcha-rating{margin-right:5px}
.movie-card.poster-type .poster-wrapper .bottom .watcha-rating-wrapper .number{margin-right:5px}
.movie-card.poster-type .poster-wrapper .bottom .comment{margin-top:20px;position:relative;padding-left:52px}
.movie-card.poster-type .poster-wrapper .bottom .comment img{-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;position:absolute;left:0;top:0}
.movie-card.poster-type .poster-wrapper .bottom .comment .text{font-size:12px;line-height:18px;color:#93939c;position:relative;display:table-cell;vertical-align:middle;height:40px}
.movie-card.poster-type .poster-wrapper .bottom .comment .text .name{color:#93939c}
.movie-card.poster-type .poster-wrapper .action-wrapper{position:absolute;bottom:0;left:0;width:100%;background-color:white;text-align:center;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-moz-transition-property:opacity;-o-transition-property:opacity;-webkit-transition-property:opacity;transition-property:opacity;-moz-transition-duration:0.1s;-o-transition-duration:0.1s;-webkit-transition-duration:0.1s;transition-duration:0.1s}
.movie-card.poster-type .poster-wrapper .action-wrapper .movie-title{height:40px;line-height:40px;font-size:14px;color:#403f4e;border-bottom:1px solid #F3F3F5;overflow:hidden;text-overflow: ellipsis;white-space: nowrap}
.movie-card.poster-type .poster-wrapper .action-wrapper .rating{padding:2px 0 5px}
.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment{padding:0 20px 20px 20px;position:relative;color:#6d6c83;height:20px}
.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .wish,.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .comment{font-size:12px;position:absolute;text-indent:24px;line-height:13px;cursor:pointer}
.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .wish:hover,.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .wish:active,.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .wish.on,.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .comment:hover,.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .comment:active,.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .comment.on{color:#ff382e}
.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .comment{left:33px}
.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .comment .icon{position:absolute;left:0;top:0;width:14px;height:13px;display:block;background:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/icons/icon_comment_default-02ecfb631ef3ca2537fe8dfc5e86b0dea820bbe55092addbc0959b6d9c2137fe.png)}
.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .comment:hover{color:#32B39A}
.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .comment:hover .icon{background:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/icons/icon_comment_hover-cfc49bc1b2b2e319abf541e7cd17aabfaddac1d7f22187cbcbdf89664c30b826.png)}
.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .comment:active{color:#32B39A}
.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .comment:active .icon{background:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/icons/icon_comment_active-3cb8644ade63910c9a65c33b6d62c9d8265d7ef6c5487db9e2447a12de3b3388.png)}
.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .comment.on{color:#32B39A}
.movie-card.poster-type .poster-wrapper .action-wrapper .wish-comment .comment.on .icon{background:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/icons/icon_comment_selected-a3046e15f7773863819a58062c293da65480aa45f486c433a30712bbfc35b722.png)}
.movie-card.poster-type .poster-wrapper .action-wrapper .meh{cursor:pointer;position:absolute;right:12px;top:-103px;text-indent:-9999px;width:14px;height:14px;background:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/icons/icon_dislike_default-ed402e027bbe5ad3306406622e9e9cf68d2fefd154b650db735d5c6dd43183cb.png)}
.movie-card.poster-type .poster-wrapper .action-wrapper .meh:hover{background:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/icons/icon_dislike_hover-a5cc04616e34cedf486c18d88c66032471296daac83588f93033a36120fd97bd.png)}
.movie-card.poster-type .poster-wrapper .action-wrapper .meh:active{background:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/icons/icon_dislike_active-043ff81e7ac4d23626fe0b17878fd4fcec83947ebfd4632530d9a80bb00f94f2.png)}
.movie-card.poster-type .poster-wrapper .action-wrapper .meh.on{background:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/icons/icon_dislike_selected-be9921b6547f3da2ae6ecc16928f5c620e02de1092aa4dac97f4c042a5b0309d.png)}
.movie-card.poster-type .poster-wrapper .action-wrapper .meh.on{color:#ff382e}
.movie-card.poster-type .poster-wrapper .action-wrapper .meh{top:-153px}
.movie-card.poster-type .poster-wrapper .action-wrapper .reserve{background-color:#fafafa;text-align:center;height:50px;line-height:50px;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px}
.movie-card.poster-type .poster-wrapper .action-wrapper .reserve .info-text{font-size:14px;padding-left:31px;color:#403f4e;position:relative}
.movie-card.poster-type .poster-wrapper .action-wrapper .reserve .info-text .icon{position:absolute;left:0;top:2px;width:21px;height:13px;display:block;background:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/icons/icon_ticket_default-a19cfb7bd2894fecb323c91725c463fd87f065b60b1296bbd303a2e445dc8a4d.png)}
.movie-card.poster-type .poster-wrapper .action-wrapper .reserve .theaters{display:none}
.movie-card.poster-type .poster-wrapper .action-wrapper .reserve:hover .info-text{display:none}
.movie-card.poster-type .poster-wrapper .action-wrapper .reserve:hover .theaters{display:block;text-align:center}
.movie-card.poster-type .poster-wrapper .action-wrapper .reserve:hover .theaters .theater{display:inline-block;width:30%}
.gradation{display: none; color: white; text-align: center;} /* 상세보기 띄우기 */
.movie-card.poster-type .poster-wrapper:hover .gradation,.movie-card.poster-type.fix-action-box .gradation{background-color:gray;background-color:rgba(0,0,0,0.5); display: inline;}
.movie-card.poster-type .poster-wrapper:hover .action-wrapper,.movie-card.poster-type.fix-action-box .action-wrapper{filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity:1}
.movie-card.poster-type.theater_movie .action-wrapper .meh{top:-103px}
.movie-card.size-2x2.poster-type .gradation{background-image:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/gradations/gradation_648-6b0fe18665e82a20b8a2d33e142eb506d104f97cc99c3967826c988a82b28df9.png)}
.movie-card.size-2x2.poster-type .action-wrapper .wish-comment .wish{left:50%;margin-left:-80px}
.movie-card.size-2x2.poster-type .action-wrapper .wish-comment .comment{right:50%;margin-right:-80px}
.movie-card.size-2x2.poster-type .action-wrapper .meh{top:-488px}
body.ie8 .movie-card.mini-poster-card .action-wrapper,body.ie7 .movie-card.mini-poster-card .action-wrapper{display:none}
body.ie8 .movie-card.mini-poster-card:hover .action-wrapper,body.ie7 .movie-card.mini-poster-card:hover .action-wrapper{display:block}
.play-btn{display:block;position:relative}
.play-btn .arrow{display:block;position:absolute;left:10px;top:9px;width:8px;height:12px;background:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/icons/play_arrow-ef4ec9e9275d3b99c988376726819b74852010d61226db8510e549ca9cfef4e0.png);z-index:1}
.play-btn .border{display:block;position:absolute;left:-2px;top:-2px;width:100%;height:100%;border:2px solid #fff;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);opacity:0.2;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.play-btn .bg{display:block;padding:0 10px 0 23px;height:30px;line-height:32px;background-color:#000;color:#fff;font-size:12px;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity:0.5;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.watcha-star{cursor:pointer;width:29px;height:28px;display:inline-block;position:relative;background:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_rate_default-18676d0fcfec2b638308271f1928081faa4a1d6bb60bb3dea0f1475f24f32fd9.png) center center no-repeat;transition:all 0.1s}
.watcha-star img{position:absolute;left:-1px;top:-1px}
.watcha-star.half{width:15px}
.watcha-star.half.left{background-position:-0px}
.watcha-star.half.right{background-position:-15px}
.watcha-star.half.right img{left:-15px}
.watcha-star.over{background-image:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_rate_hover-4fd8058f4b102ff515e85b5fb099d31ab53e4d525f6374526fb350f3ee2ef7c7.png)}
.watcha-star.on{background-image:url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/stars/star_rate_selected-2426de9dbadb17c5f07c80058b1cafe87f535f1b5e33b6d6ba451bcc4f2910f4.png)}
